.freinds {
  //border: $border;
  display: flex;
  //height: 100vh;
  //width: 100vw;
  &__wrapper {
    //border: $border;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  &__header {
    //border: $border;
    display: flex;
    height: 50px;
    width: 100%;
  }
  &__content {
    //border: $border;
    display: flex;
    flex-direction: column;
    justify-content: center;
    //height: auto;
    //flex-grow: 1;
  }
  &__searchblock {
    //border: $border;
    display: flex;
    justify-content: center;
    height: 70px;
      form {
        //border: $border;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65%;
          input {
            width: 100%;
            height: 40px;
            font-size: 1.1rem;
            font-family: Montserrat-Regular;
          }
          button {
            width: 150px;
            height: 40px;
            background-color: $colorbrend;
            color: white;
            font-weight: bolder;
            font-family: Montserrat-Regular;
            border: none;
            cursor: pointer;
          }
      }
  }

  &__contentwrapper {
    //border: $border;
    display: flex;
    //flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    width: 65%;
    height: 100%;
    margin-top: 20px;
    transition: $transition;
      @media (max-width: 960px) {
        width: 80%;
        transition: $transition;
      }
  }
  &__currentfreind {
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 250px;
    margin: 20px;
  }
  &__pictureblock {
    //border: $border;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
      img {
        //border: $border;
        //border-radius: 50%;
        height: 100%;
        width: 100%;
      }
  }
  &__infoblock {
    //border: $border;
    display: flex;
    justify-content: center;
      span {
        //border: $border;
        width: 100%;
        text-align: center;
        font-family: Montserrat-Regular;
        font-size: 0.9rem;
        margin: 5px 0 ;
      }
  }
  &__writemessageto {
    //border: $border;
    display: flex;
    justify-content: center;
      a {
        text-decoration: none;
        color: $colorbrend;
        font-size: 0.8rem;
        font-family: Montserrat-Regular;
        font-weight: bolder;
      }
  }
  &__actionblock {
    //border: $border;
    display: flex;
    width: 100%;
      form {
        //border: $border;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
          button {
            border: none;
            width: 200px;
            height: 40px;
            margin-top: 10px;
            background-color: $colorbrend;
            font-family: Montserrat-Regular;
            color: white;
            cursor: pointer;
          }
      }
  }


}