.freinds {
  //border: $border;
  display: flex;
  width: 100vw;
  height: 100vh;
    &__wrp {
      //border: $border;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }
    &__sidebarfrnd {
      //border: $border;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 50px;
      background-color: $colorbluepanel;
    }
    &__contentfrnd {
      //border: $border;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;
      width: 100%;
    }
    &__searchblockfrnd {
      //border: $border;
      display: flex;
      width: 60%;
      height: 50px;
      margin-top: 10px;
    }
    &__searchformfrnd {
      //border: $border;
      display: flex;
      justify-content: center;
      align-items: center;
      //background-color: lightgrey;
      width: 100%;
      border-radius: 7px;
        input {
          border: 1px solid gray;
          width: 50%;
          height: 35px;
          border-top-left-radius: 7px;
          border-bottom-left-radius: 7px;
          padding-left: 10px;
          font-family: Montserrat-Regular;
        }
        button {
          border: none;
          border-top-right-radius: 7px;
          border-bottom-right-radius: 7px;
          width: 80px;
          height: 35px;
          font-family: Montserrat-Regular;
          background-color: $colorbluepanel;
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
    }
    &__resultsfrnd {
      border: 1px solid gray;
      display: flex;
      flex-grow: 1;
      width: 85%;
      margin-top: 20px;
    }
    &__userfreinds {
      border-right: 1px solid gray;
      display: flex;
      width: 25%;
      height: 100%;
    }
    &__resultsearch {
      //border: $border;
      display: flex;
      width: 75%;
        span {
          //border: $border;
          width: 100%;
          font-family: Montserrat-Regular;
          font-size: 1.2rem;
          text-align: center;
        }
    }
    &__currentuser {
      border: 1px solid gray;
      display: flex;
      width: 250px;
      height: 350px;
      margin: 15px;
    }
    &__formadd {
      //border: $border;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }
    &__avataruser {
      //border: $border;
      display: flex;
      width: 250px;
      height: 250px;
        img {
          width: 100%;
          height: 100%;
          border-bottom: 1px solid gray;
        }
    }
    &__nameuser {
      //border: $border;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45px;
        span {
          font-family: Montserrat-Regular;
          font-size: 1.1rem;
            &:nth-child(1) {
              margin-right: 15px;
            }

        }
    }
    &__addblock {
      //border: $border;
      display: flex;
      height: 55px;
        button {
          border: none;
          width: 100%;
          height: 100%;
          background-color: $colorbluepanel;
          color: white;
          font-family: Montserrat-Regular;
          font-size: 1.1rem;
          cursor: pointer;
        }
    }


}

