.messages {
  //border: $border;
  display: flex;
  //height: 100vh;
  //width: 100vw;
  &__wrapper {
    //border: $border;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  &__header {
    //border: $border;
    display: flex;
    height: 50px;
    width: 100%;
  }
  &__content {
    //border: $border;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;

    //min-height: calc(100% - 50px);
    //flex-grow: 1;
  }
  &__contentwrapper {
    //border: $border;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    height: 100%;
    margin-top: 20px;
  }
  &__currentfreind {
    border: 1px solid lightgrey;
    display: flex;
    width: 600px;
    height: 100px;
    margin: 2px 0;
    transition: $transition;
      @media (max-width: 1140px) {
        width: 500px;
        transition: $transition;
      }
      @media (max-width: 960px) {
        width: 400px;
        transition: $transition;
      }
      @media (max-width: 540px) {
        flex-direction: column;
        align-items: center;
        width: 150px;
        height: 235px;
        transition: $transition;
        margin: 5px 0;
      }
      @media (max-width: 480px) {
        width: 130px;
        height: 215px;
      }
  }
  &__pictureblock {
    //border: $border;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    transition: $transition;
      img {
        height: 100px;
        width: 100px;
        transition: $transition;
      }
      @media (max-width: 540px) {
        width: 150px;
        height: 150px;
          img {
            height: 100%;
            width: 100%;
            transition: $transition;
          }
      }
      @media (max-width: 480px) {
        width: 130px;
        height: 130px;
        transition: $transition;
        img {
          height: 100%;
          width: 100%;
          transition: $transition;
        }
      }
  }
  &__infoblock {
    //border: $border;
    display: flex;
    //flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
      span {
        //border: $border;
        padding-left: 10px;
        margin: 5px 0;
        font-family: Montserrat-Regular;
        transition: $transition;
          @media (max-width: 960px) {
            font-size: 0.9rem;
            padding: 0 3px;
            transition: $transition;
          }
      }
      @media (max-width: 540px) {
        width: 100%;
      }
  }
  &__actionblock {
    //border: $border;
    border-left: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
      a {
        //border: $border;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60px;
        text-decoration: none;
        color: black;
          i {
            font-size: 1.8rem;
            color: $colorbrend;
            transition: $transition;
          }
          span {
            font-size: 0.9rem;
            font-family: Montserrat-Regular;
            transition: $transition;
          }
          @media (max-width: 960px) {
            i {
              font-size: 1.4rem;
              color: $colorbrend;
              transition: $transition;
            }
            span {
              font-size: 0.7rem;
              transition: $transition;
            }
          }
          @media (max-width: 480px) {
            i {
              font-size: 1rem;
            }
          }
      }
      @media (max-width: 540px) {
        border-top: 1px solid lightgrey;
        //border-bottom: 1px solid lightgrey;
        border-left: none;
        width: 100%;
          a {
            height: 50px;
          }
      }
  }
  &__notmsg {
    //border: $border;
    display: flex;
      span {
        font-family: Montserrat-Regular;
        font-size: 1.1rem;
      }
  }



}