.messages {
  border: $border;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
    &__messagwrp {
      border: $border;
      display: flex;
      width: 80%;
      height: 100%;
    }
}