.pp {
  //border: $border;
  display: flex;
  height: 100vh;
  width: 100vw;
    &__wrp {
      //border: $border;
      display: flex;
      flex-direction: column;
      position: relative;
      height: 100%;
      width: 100%;
      z-index: 1;
    }
    //&__navbarpp {
    //  border: $border;
    //  display: flex;
    //  position: absolute;
    //  height: 350px;
    //  width: 100%;
    //  z-index: 1;
    //}
    &__profile {
      //border: $border;
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 350px;
      height: 350px;
      border-bottom-right-radius: 7px;
      background-color: $colorbluepanel;
      z-index: 10;
    }
    &__userpict {
      //border: $border;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 85%;
    }
    &__userfullname {
      //border: $border;
      display: flex;
      justify-content: center;
      height: 15%;
      width: 100%;
        span {
          //border: $border;
          align-self: center;
          margin: 0 5px;
          font-family: Montserrat-Regular;
          font-size: 1.1rem;
          color: white;
        }
    }
    &__sidebar {
      //border: $border;
      display: flex;
      position: absolute;
      align-self: flex-end;
      height: 50px;
      width: calc(100% - 350px);
      background-color: $colorbluepanel;
      z-index: 10;
    }
    &__tools {
      //border: $border;
      display: flex;
      width: 95%;
        a {
          //border: $border;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          margin-left: 10px;
          padding: 0 15px;
          text-decoration: none;
          color: white;
          font-family: Montserrat-Regular;
            &:hover {
              background-color: #000041;
            }
            i {
              font-size: 1.5rem;
            }
        }
    }
    &__exit {
      //border: $border;
      display: flex;
      width: 5%;
        a {
          //border: $border;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          //margin-left: 10px;
          padding: 0 15px;
          text-decoration: none;
          color: white;
          font-family: Montserrat-Regular;
          &:hover {
            background-color: #000041;
          }
          i {
            font-size: 1.5rem;
          }
        }
    }
}