.pinspage {
  //border: $border;
  display: flex;
  height: 100vh;
  width: 100vw;
    &__wrapper {
      //border: $border;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
    }
    &__header {
      //border: $border;
      display: flex;
      height: 50px;
      width: 100%;
    }
    &__content {
      //border: $border;
      display: flex;
      justify-content: center;
      width: 100%;
      height: calc(100% - 50px);
    }
    &__contentwrapper {
      border: 1px solid lightgray;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      margin: 20px 0;
      overflow-y: scroll;
    }
    &__success {
      //border: $border;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 700px;
      //height: 150px;
      background-color: $colorgreen;
      margin: 20px 0;
      padding: 5px 0;
      border-radius: 7px;
      span {
        color: white;
        font-family: Montserrat-Regular;
        font-size: 1.1rem;
      }
    }
    &__pin {
      //border: $border;
      border: 1px solid lightgray;
      display: flex;
      width: 700px;
      height: 150px;
      margin: 5px 0;
      text-decoration: none;
      color: black;
    }
    &__pinpict {
      //border: $border;
      display: flex;
      width: 150px;
      height: 150px;
        img {
          width: 100%;
          height: 100%;
        }
    }
    &__pintext {
      //border: $border;
      border-left: 1px solid lightgray;
      border-right: 1px solid lightgray;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 400px;
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 20px;
          height: 85%;
          text-decoration: none;
          font-family: Montserrat-Regular;
            &:nth-child(2) {
              height: 15%;
              align-self: flex-start;
              font-size: 0.8rem;
            }
        }
    }
  &__pincontrols {
    //border: $border;
    //border-left: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
      a {
        //border: $border;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 30px;
        height: 30px;
        margin: 5px;
        text-decoration: none;
        color: black;
          i {
            //border: $border;
            font-size: 1.5rem;
          }
      }
  }


}