.pinspage {
  //border: $border;
  display: flex;
  height: 100vh;
  width: 100vw;
    &__wrapper {
      //border: $border;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
    }
    &__header {
      //border: $border;
      display: flex;
      height: 50px;
      width: 100%;
    }
    &__content {
      //border: $border;
      display: flex;
      justify-content: center;
      width: 100%;
      height: calc(100% - 50px);
    }
    &__contentwrapper {
      border: 1px solid lightgray;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 55%;
      margin: 20px 0;
      overflow-y: scroll;
      transition: $transition;
        @media (max-width: 1400px) {
          width: 65%;
          transition: $transition;
        }
        @media (max-width: 960px) {
          width: 70%;
          transition: $transition;
        }
        @media (max-width: 480px) {
          width: 80%;
          transition: $transition;
        }
    }
    &__success {
      //border: $border;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 700px;
      background-color: $colorgreen;
      margin: 20px 0;
      padding: 5px 0;
      border-radius: 7px;
      transition: $transition;
        span {
          color: white;
          font-family: Montserrat-Regular;
          font-size: 1.1rem;
          transition: $transition;
        }
        @media (max-width: 1400px) {
          width: 600px;
          transition: $transition;
            span {
              font-size: 1rem;
              transition: $transition;
            }
        }
        @media (max-width: 960px) {
          width: 500px;
          transition: $transition;
        }
        @media (max-width: 720px) {
          width: 85%;
          transition: $transition;
        }
        @media (max-width: 480px) {
          span {
            font-size: 0.9rem;
          }
        }
    }
    &__pin {
      //border: $border;
      border: 1px solid lightgray;
      display: flex;
      width: 700px;
      height: 150px;
      margin: 5px 0;
      text-decoration: none;
      color: black;
      transition: $transition;
        @media (max-width: 1400px) {
          width: 600px;
          height: 100px;
          transition: $transition;
        }
        @media (max-width: 960px) {
          width: 500px;
          transition: $transition;
        }
        @media (max-width: 720px) {
          flex-direction: column;
          height: 500px;
          width: 200px;
          margin: 30px 0;
          transition: $transition;
        }
    }
    &__pinpict {
      //border: $border;
      display: flex;
      width: 150px;
      height: 150px;
      transition: $transition;
        img {
          width: 100%;
          height: 100%;
          transition: $transition;
        }
        @media (max-width: 1400px) {
          width: 100px;
          height: 100px;
          transition: $transition;
        }
        @media (max-width: 720px) {
          width: 200px;
          height: 200px;
          transition: $transition;
        }
    }
    &__pintext {
      //border: $border;
      border-left: 1px solid lightgray;
      border-right: 1px solid lightgray;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 400px;
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 20px;
          height: 85%;
          text-decoration: none;
          font-family: Montserrat-Regular;
          transition: $transition;
            &:nth-child(2) {
              height: 15%;
              align-self: flex-start;
              font-size: 0.8rem;
            }
        }
        @media (max-width: 1400px) {
          span {
            font-size: 0.8rem;
            transition: $transition;
          }
        }
        @media (max-width: 960px) {
          width: 300px;
          transition: $transition;
        }
        @media (max-width: 720px) {
          border-left: none;
          border-right: none;
          border-bottom: 1px solid lightgrey;
          width: 200px;
          height: 150px;
          transition: $transition;
        }
    }
  &__pincontrols {
    //border: $border;
    //border-left: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    transition: $transition;
      a {
        //border: $border;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 30px;
        height: 30px;
        margin: 5px;
        text-decoration: none;
        color: black;
        transition: $transition;
          i {
            //border: $border;
            font-size: 1.5rem;
            transition: $transition;
          }
      }
      form {
        //border: $border;
          button {
            border: none;
            background: none;
            width: 30px;
            height: 30px;
            cursor: pointer;
              i {
                font-size: 1.5rem;
                transition: $transition;
              }
          }
      }
      @media (max-width: 1400px) {
        width: 100px;
        height: 100px;
        transition: $transition;
          a {
            width: 25px;
            height: 25px;
            transition: $transition;
            i {
              font-size: 1rem;
              transition: $transition;
            }
          }
          form {
            button {
              i {
                font-size: 1rem;
                transition: $transition;
              }
            }
          }
      }
      @media (max-width: 720px) {
        width: 100%;
        height: 50px;
        transition: $transition;
        a {
          //border: $border;
          width: 40px;
          height: 40px;
          transition: $transition;
          i {
            font-size: 1.3rem;
            transition: $transition;
          }
        }
        form {
          //border: $border;
          height: 40px;
          width: 40px;
          button {
            height: 40px;
            width: 40px;
            //border: $border;
            i {
              font-size: 1.3rem;
              transition: $transition;
            }
          }
        }
      }


  }


}