@import "var.scss";




body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
}




.index {
  border: $border;
  display: flex;
  flex-direction: column;
    &__headerindx {
      border: $border;
      display: flex;
      height: 70px;
    }
    &__bodyindx {

    }
    &__footerindx {

    }
}
