@import "var.less";


//----------------------------------
//MIXINS
.mixintopmenu {
  // border: @border;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  padding: 0 10px;  
    &:hover {
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.3);      
    }  
    a {
      // border: @border;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      text-decoration: none;
      height: 100%;
      padding: 0 7px;
        i {
          // border: @border;
          height: 60%;
          font-size: 1.5rem;              
        }          
        span {
          // border: @border;
          height: 40%;
          color: white;
        }
    }
}
//----------------------------------




.pp {
	// border: @border;
	display: flex;
	width: 100vw;
	height: 100vh;  
		&__wrp {
			// border: @border;
			display: flex;			     
      position: relative;
			width: 100%;
			height: 100%;
      z-index: 1;
    }

    &__errlocate {
      display: none;      
      justify-content: center;
      align-items: center;
      position: absolute;
      height: 100vh;
      width: 100vw;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 10;
    }
    &__errmsg {
      // border: @border;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 500px;
      height: 400px;
      background-color: white;
      border-radius: 7px;
    }
    &__errclose {
      // border: @border;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 10%;
      width: 100%;
        i {
          font-size: 1.3rem;
          margin-right: 5px;
          cursor: pointer;
        }
    }
    &__errnotice {
      // border: @border;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 95%;
      height: 65%;
        span {
          // border: @border;
          align-self: center;
          width: 100%;
          margin: 10px 0;
          text-align: center;
            &:nth-child(1) {
              font-weight: bolder;
              font-size: 1.3rem;
            }
            &:nth-child(2) {
              font-size: 1.1rem;
            }
        }
    }
    &__errok {
      // border: @border;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 25%;
        button {
          width: 150px;
          height: 40px;
          border: none;
          border-radius: 7px;
          color: white;
          font-weight: bolder;
          background-color: @colorindxbtn;
          outline: none;
          cursor: pointer;
        }
    }
    
    &__sendfile {
      // border: @border;
      display: none;      
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 30%;      
      left: 50%;
      width: 350px;
      // height: 450px;
      background-color: white;
      box-shadow: 5px 5px 5px 7px rgba(0,0,0,0.6);
      border-radius: 7px;
      z-index: 2;
    }
    &__hdrsf {
      // border: @border;
      display: flex;  
      justify-content: center;    
      align-items: center;
      height: 40px;
      width: 100%;
      background-color: @colororange1;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
    }
    &__hdricon {
      // border: @border;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10%;
      height: 100%;
      cursor: grab;      
        img {
          width: 25px;
          height: 25px;
        }
    }
    &__hdrplace {
      // border: @border;
      display: flex;
      align-items: center;
      width: 80%;
      height: 100%;
      cursor: grab;
        span {
          color: white;
        }
    }
    &__hdrclose {
      // border: @border;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10%;
      height: 100%;
        span {
          font-weight: bold;
          color: white;
          font-size: 1.5rem;
          transform: rotate(45deg);
          cursor: pointer;          
        }
    }

    &__uploadform {
      // border: @border;
      display: flex;
      flex-direction: column;
      align-items: center;
      // height: 200px;
      width: 100%;
    }

    &__uploadfiles {
      // border: @border;
      display: flex;
      flex-direction: column;
      width: 95%;
      height: 20%;
    }
    &__textblock {
      // border: @border;
      display: flex;
      justify-content: flex-start;
      height: 30px;
      margin: 5px 0;
        span {
          // border: @border;
          font-size: 1.2rem;
          padding-left: 7px;
        }
    }
    &__uploadblock {
      border: 1px solid @colorgray;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 70px;
      margin: 0 0 15px 0;
    }
    &__uploadfields {
      // border: @border;
      width: 100%;
      padding-left: 7px;
    }
    &__addfiles {
      // border: @border;
      width: 100%;
        button {
          width: 150px;
          height: 30px;
          background-color: @colorindxpanel;
          color: white;
          font-weight: bold;
        }
    }
    &__addcomments {
      // border: @border;
      display: flex;
      flex-direction: column;
      width: 95%;
    }
    &__textblock {
      // border: @border;
        span {
          padding-left: 7px;
        }
    }
    &__commentsblock {
      // border: @border;
      width: 100%;
      height: 120px;
        textarea {
          border: 1px solid @colorgray;
          width: 100%;
          height: 100%;
        }
    }
    &__latitude {
      visibility: hidden;
      width: 0px;
      height: 0px;
    }
    &__longitude {
      visibility: hidden;
      width: 0px;
      height: 0px;
    }
    &__addcontent {
      // border: @border;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 95%;
      height: 70px;
        button {
          width: 130px;
          height: 35px;
          background-color: @colorindxbtn;
          color: white;
          font-weight: bolder;
          border: none;
          border-radius: 5px;
          outline: none;
          cursor: pointer;
        }
    }
    

    &__profile {
      // border: @border;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      height: 300px;
      width: 15%;
      background-color: @colorindxpanel;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      z-index: 1;
    }
    &__logoblock {
      // border: @border;
      display: flex;
      justify-content: center;
      width: 150px;
      height: 150px;
      margin-top: 7px;        
    } 
    &__nameblock {
      // border: @border;
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 7px;
        span {
          color: white;
          font-size: 1.2rem;
        }
    }
    &__placeblock {
      // border: @border;
      display: flex;
      justify-content: center;      
      width: 100%;
      margin-top: 7px;
        span {
          color: white;
          font-size: 1.1rem;
          text-align: center;
        }
    }
    &__detailblock {
      // border: @border;
      display: flex;
      justify-content: center;      
      width: 100%;
      margin-top: 7px;
        a {
          color: white;
          font-size: 1.1rem;
          text-align: center;
        }
    }
    
    &__topmenu {      
      display: flex;      
      position: absolute;
      right: 0;
      width: 85%;
      height: 50px;
      background-color: @colorindxpanel;
      z-index: 1;
    }
    &__basemenublock {     
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 95%;
      height: 100%;
    }
    &__messageblock {
      .mixintopmenu();
    }
    &__pinsblock {
      .mixintopmenu();
    }
    &__freindsblock {
      .mixintopmenu();
    }
    &__newsblock {
      .mixintopmenu();
    }
    &__waysblock {
      .mixintopmenu();
    }
    &__albumsblock {
      .mixintopmenu();
    }
    &__findblock {
      .mixintopmenu();
    }
    &__settingsblock {
      .mixintopmenu();
    }

    &__exitblock {
      .mixintopmenu();
      height: 100%;
      width: 5%;
    }
    &__formout {
      // border: @border;
      display: flex;
      width: 100%;
      height: 100%;
      button {
        border: none;
        background-color: rgba(0, 0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        width: 100%;
        height: 100%;
        outline: none;
        cursor: pointer;
          i {
            // border: @border;
            height: 60%;
            font-size: 1.5rem;              
          }          
          span {
            // border: @border;
            height: 40%;
            color: white;
          }
      }
    }



		&__bottomblock {     
      align-self: center;
			width: 50%;
      height: 7%;
      position: absolute;
      left: 25%;      
      bottom: 0;
      background-color: @colorindxpanel;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      z-index: 1;
    }
    
    .pp__arrdt {
      visibility: hidden;
      height: 0px;
      width: 0px;
    }


}



//----------------------------------
// ADD CLASSES
.showblock {
  display: flex;
}
//----------------------------------