@import "var.less";


.pp {
	// border: @border;
	display: flex;
	width: 100vw;
	height: 100vh;
		&__wrp {
			border: @border;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 100%;
			height: 100%;
		}
		&__topblock {
			border: @border;
			width: 100%;
			height: 15%;
		}
		&__bottomblock {
			border: @border;
			width: 100%;
			height: 10%;
		}


}