@font-face {
  font-family: "Montserrat-Regular";
  src: url("/public/assets/users/fonts/Montserrat-Regular.ttf");
}
.reg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.reg__formreg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  height: 700px;
}
.reg__formblock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reg__formblock h3 {
  font-size: 1.3rem;
  text-align: center;
  font-family: Montserrat-Regular;
}
.reg__formblock input {
  border: 1px solid gray;
  width: 400px;
  height: 40px;
  margin: 10px;
  border-radius: 5px;
  font-family: Montserrat-Regular;
  padding-left: 10px;
  font-size: 1.1rem;
}
.reg__formblock button {
  width: 250px;
  height: 50px;
  margin-top: 40px;
  background-color: #00ad1e;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 1.1rem;
  font-weight: bolder;
  cursor: pointer;
}

.pp {
  display: flex;
  height: 100vh;
  width: 100vw;
}
.pp__wrp {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.pp__sendfile {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 50%;
  width: 350px;
  background-color: white;
  box-shadow: 5px 5px 5px 7px rgba(0, 0, 0, 0.6);
  border-radius: 7px;
  z-index: 2;
}
.pp__hdrsf {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  background-color: #112b66;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.pp__hdricon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
  cursor: -webkit-grab;
  cursor: grab;
}
.pp__hdricon img {
  width: 25px;
  height: 25px;
}
.pp__hdrplace {
  display: flex;
  align-items: center;
  width: 80%;
  height: 100%;
  cursor: -webkit-grab;
  cursor: grab;
}
.pp__hdrplace span {
  color: white;
  font-size: 0.9rem;
}
.pp__hdrclose {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
}
.pp__hdrclose span {
  font-weight: bold;
  color: white;
  font-size: 1.5rem;
  transform: rotate(45deg);
  cursor: pointer;
}
.pp__uploadform {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.pp__uploadfiles {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 20%;
}
.pp__textblock {
  display: flex;
  justify-content: flex-start;
  height: 30px;
  margin: 5px 0;
}
.pp__textblock span {
  font-size: 1.2rem;
  padding-left: 7px;
}
.pp__uploadblock {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70px;
  margin: 0 0 15px 0;
}
.pp__uploadfields {
  width: 100%;
  padding-left: 7px;
}
.pp__addfiles {
  width: 100%;
}
.pp__addfiles button {
  width: 150px;
  height: 30px;
  background-color: #112b66;
  color: white;
  font-weight: bold;
}
.pp__addcomments {
  display: flex;
  flex-direction: column;
  width: 95%;
}
.pp__textblock span {
  padding-left: 7px;
}
.pp__commentsblock {
  width: 100%;
  height: 120px;
}
.pp__commentsblock textarea {
  border: 1px solid gray;
  width: 100%;
  height: 100%;
}
.pp__latitude {
  visibility: hidden;
  width: 0px;
  height: 0px;
}
.pp__longitude {
  visibility: hidden;
  width: 0px;
  height: 0px;
}
.pp__addcontent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 95%;
  height: 70px;
}
.pp__addcontent button {
  width: 130px;
  height: 35px;
  background-color: #00ad1e;
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.pp__profile {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 350px;
  height: 350px;
  border-bottom-right-radius: 7px;
  background-color: #112b66;
  z-index: 10;
}
.pp__userpict {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 85%;
}
.pp__userfullname {
  display: flex;
  justify-content: center;
  height: 15%;
  width: 100%;
}
.pp__userfullname span {
  align-self: center;
  margin: 0 5px;
  font-family: Montserrat-Regular;
  font-size: 1.1rem;
  color: white;
}
.pp__sidebar {
  display: flex;
  position: absolute;
  align-self: flex-end;
  height: 50px;
  width: 100%;
  background-color: #112b66;
  z-index: 10;
}
.pp__tools {
  display: flex;
  width: 95%;
}
.pp__tools a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
  padding: 0 15px;
  text-decoration: none;
  color: white;
  font-family: Montserrat-Regular;
}
.pp__tools a:hover {
  background-color: #000041;
}
.pp__tools a i {
  font-size: 1.5rem;
}
.pp__exit {
  display: flex;
  width: 5%;
}
.pp__exit a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  text-decoration: none;
  color: white;
  font-family: Montserrat-Regular;
}
.pp__exit a:hover {
  background-color: #000041;
}
.pp__exit a i {
  font-size: 1.5rem;
}

.showblock {
  display: flex;
}

.hidedatas {
  display: none;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.login__formlog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  height: 700px;
}
.login__formblock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__formblock h3 {
  font-size: 1.3rem;
  text-align: center;
  font-family: Montserrat-Regular;
}
.login__formblock input {
  border: 1px solid gray;
  width: 400px;
  height: 40px;
  margin: 10px;
  border-radius: 5px;
  font-family: Montserrat-Regular;
  padding-left: 10px;
  font-size: 1.1rem;
}
.login__formblock button {
  width: 250px;
  height: 50px;
  margin-top: 40px;
  background-color: #00ad1e;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 1.1rem;
  font-weight: bolder;
  cursor: pointer;
}

.freinds {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.freinds__wrp {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.freinds__sidebarfrnd {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #112b66;
}
.freinds__contentfrnd {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}
.freinds__searchblockfrnd {
  display: flex;
  width: 60%;
  height: 50px;
  margin-top: 10px;
}
.freinds__searchformfrnd {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 7px;
}
.freinds__searchformfrnd input {
  border: 1px solid gray;
  width: 50%;
  height: 35px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  padding-left: 10px;
  font-family: Montserrat-Regular;
}
.freinds__searchformfrnd button {
  border: none;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  width: 80px;
  height: 35px;
  font-family: Montserrat-Regular;
  background-color: #112b66;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.homepage__headerhp {
  display: flex;
  justify-content: center;
  height: 70px;
}
.homepage__headerwrp {
  display: flex;
  width: 60%;
}
.homepage__headerlogo {
  display: flex;
  align-items: center;
  width: 50%;
}
.homepage__headerlogo a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bolder;
  color: black;
  font-family: Montserrat-Regular;
}
.homepage__headernavigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}
.homepage__headernavigation a {
  text-decoration: none;
  margin: 0 20px;
  font-size: 1.2rem;
  font-weight: bolder;
  color: black;
  font-family: Montserrat-Regular;
}
.homepage__contenthp {
  display: flex;
  justify-content: center;
  height: 85%;
}
.homepage__contenthpwrp {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 60%;
}
.homepage__contenthpwrp img {
  width: 100%;
}
.homepage__footerhp {
  display: flex;
  justify-content: center;
  height: 5%;
}
.homepage__footerwrp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.homepage__footerwrp a {
  text-decoration: none;
  color: black;
  font-family: Montserrat-Regular;
}
