@charset "UTF-8";
@font-face {
  font-family: "Montserrat-Regular";
  src: url("/public/assets/users/fonts/Montserrat-Regular.ttf");
}
.reg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.reg__formreg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  height: 700px;
}
.reg__formblock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reg__formblock h3 {
  font-size: 1.3rem;
  text-align: center;
  font-family: Montserrat-Regular;
}
.reg__formblock input {
  border: 1px solid gray;
  width: 400px;
  height: 45px;
  margin: 10px;
  border-radius: 5px;
  font-family: Montserrat-Regular;
  padding-left: 10px;
  font-size: 1.1rem;
  transition: ease-in-out 0.5s;
}
.reg__formblock button {
  width: 250px;
  height: 50px;
  margin-top: 40px;
  background-color: #00ad1e;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 1.1rem;
  font-weight: bolder;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}
@media (max-width: 720px) {
  .reg__formblock button {
    width: 410px;
    transition: ease-in-out 0.5s;
  }
}
@media (max-width: 480px) {
  .reg__formblock input {
    width: 280px;
    transition: ease-in-out 0.5s;
  }
  .reg__formblock button {
    width: 290px;
    transition: ease-in-out 0.5s;
    font-size: 1rem;
  }
}

.pp {
  display: flex;
  height: 100vh;
  width: 100vw;
}
.pp__wrp {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.pp__errlocate {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
.pp__errmsg {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 400px;
  background-color: white;
  border-radius: 7px;
  transition: ease-in-out 0.5s;
}
@media (max-width: 960px) {
  .pp__errmsg {
    justify-content: space-around;
    width: 350px;
    height: 300px;
    transition: ease-in-out 0.5s;
  }
}
@media (max-width: 540px) {
  .pp__errmsg {
    width: 270px;
    height: 350px;
  }
}
.pp__errclose {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10%;
  width: 100%;
}
.pp__errclose i {
  font-size: 1.3rem;
  margin-right: 5px;
  cursor: pointer;
}
.pp__errnotice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 75%;
}
.pp__errnotice span {
  align-self: center;
  width: 100%;
  margin: 10px 0;
  text-align: center;
  font-family: Montserrat-Regular;
  transition: ease-in-out 0.5s;
}
.pp__errnotice span:nth-child(1) {
  font-weight: bolder;
  font-size: 1.3rem;
}
.pp__errnotice span:nth-child(2) {
  font-style: italic;
}
.pp__errnotice span:nth-child(3) {
  text-decoration: underline;
}
@media (max-width: 960px) {
  .pp__errnotice span {
    margin: 3px 0;
  }
  .pp__errnotice span:nth-child(1) {
    font-size: 0.9rem;
    transition: ease-in-out 0.5s;
  }
  .pp__errnotice span:nth-child(2) {
    font-size: 0.8rem;
    transition: ease-in-out 0.5s;
  }
  .pp__errnotice span:nth-child(3) {
    font-size: 0.8rem;
    transition: ease-in-out 0.5s;
  }
  .pp__errnotice span:nth-child(4) {
    font-size: 0.8rem;
    transition: ease-in-out 0.5s;
  }
}
.pp__errok {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: ease-in-out 0.5s;
}
.pp__errok button {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 7px;
  color: white;
  font-weight: bolder;
  background-color: #095300;
  outline: none;
  cursor: pointer;
  margin-top: -25px;
  transition: ease-in-out 0.5s;
}
@media (max-width: 960px) {
  .pp__errok button {
    height: 35px;
    width: 100px;
    transition: ease-in-out 0.5s;
  }
}
.pp__sendfile {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 50%;
  width: 350px;
  background-color: white;
  box-shadow: 5px 5px 5px 7px rgba(0, 0, 0, 0.6);
  border-radius: 7px;
  z-index: 2;
  transition: ease-in-out 0.5s;
}
@media (max-width: 720px) {
  .pp__sendfile {
    width: 300px;
    transition: ease-in-out 0.5s;
  }
}
@media (max-width: 540px) {
  .pp__sendfile {
    width: 250px;
  }
}
.pp__hdrsf {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  background-color: #030053;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.pp__hdricon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
  cursor: -webkit-grab;
  cursor: grab;
}
.pp__hdricon img {
  width: 25px;
  height: 25px;
}
@media (max-width: 540px) {
  .pp__hdricon {
    display: none;
  }
}
.pp__hdrplace {
  display: flex;
  align-items: center;
  width: 80%;
  height: 100%;
  cursor: -webkit-grab;
  cursor: grab;
}
.pp__hdrplace span {
  color: white;
  font-size: 0.7rem;
  font-family: Montserrat-Regular;
  transition: ease-in-out 0.5s;
}
@media (max-width: 720px) {
  .pp__hdrplace span {
    font-size: 0.6rem;
    transition: ease-in-out 0.5s;
  }
}
@media (max-width: 540px) {
  .pp__hdrplace {
    width: 95%;
  }
  .pp__hdrplace span {
    padding-left: 5px;
  }
}
.pp__hdrclose {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
}
.pp__hdrclose span {
  font-weight: bold;
  color: white;
  font-size: 1.5rem;
  transform: rotate(45deg);
  cursor: pointer;
}
.pp__uploadform {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.pp__uploadfiles {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 20%;
}
.pp__textblock {
  display: flex;
  justify-content: flex-start;
  height: 30px;
  margin: 5px 0;
}
.pp__textblock span {
  font-size: 1.2rem;
  padding-left: 7px;
  font-family: Montserrat-Regular;
  transition: ease-in-out 0.5s;
}
@media (max-width: 720px) {
  .pp__textblock span {
    font-size: 1rem;
    transition: ease-in-out 0.5s;
  }
}
@media (max-width: 540px) {
  .pp__textblock {
    height: 20px;
  }
  .pp__textblock span {
    font-size: 0.8rem;
    transition: ease-in-out 0.5s;
  }
}
.pp__uploadblock {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70px;
  margin: 0 0 15px 0;
  transition: ease-in-out 0.5s;
}
@media (max-width: 540px) {
  .pp__uploadblock {
    height: 40px;
    transition: ease-in-out 0.5s;
  }
}
.pp__uploadfields {
  display: flex;
  align-self: center;
  width: 90%;
}
.pp__addfiles {
  width: 100%;
}
.pp__addfiles button {
  width: 150px;
  height: 30px;
  background-color: #030053;
  color: white;
  font-weight: bold;
}
.pp__addcomments {
  display: flex;
  flex-direction: column;
  width: 95%;
}
.pp__textblock span {
  padding-left: 7px;
}
.pp__commentsblock {
  display: flex;
  width: 100%;
  height: 120px;
  transition: ease-in-out 0.5s;
}
.pp__commentsblock textarea {
  border: 1px solid gray;
  width: 100%;
  height: 100%;
}
@media (max-width: 540px) {
  .pp__commentsblock {
    height: 70px;
    transition: ease-in-out 0.5s;
  }
}
.pp__latitude {
  visibility: hidden;
  width: 0px;
  height: 0px;
}
.pp__longitude {
  visibility: hidden;
  width: 0px;
  height: 0px;
}
.pp__addcontent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 95%;
  height: 70px;
}
.pp__addcontent button {
  width: 130px;
  height: 35px;
  background-color: #00ad1e;
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-family: Montserrat-Regular;
  transition: ease-in-out 0.5s;
}
@media (max-width: 540px) {
  .pp__addcontent {
    height: 45px;
  }
  .pp__addcontent button {
    height: 30px;
  }
}
@media (max-width: 480px) {
  .pp__addcontent button {
    font-size: 0.7rem;
    transition: ease-in-out 0.5s;
  }
}
.pp__sidebar {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  position: absolute;
  height: 50px;
  width: 100%;
  background-color: #030053;
  z-index: 10;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
}
@media (max-width: 720px) {
  .pp__sidebar {
    overflow-x: scroll;
  }
}
.pp__tools {
  display: flex;
  width: 95%;
  transition: ease-in-out 0.5s;
}
.pp__tools a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-left: 10px;
  padding: 0 10px;
  text-decoration: none;
  color: white;
  font-family: Montserrat-Regular;
  transition: ease-in-out 0.5s;
}
.pp__tools a:hover {
  background-color: #03008a;
  border-radius: 7px;
  transition: ease-in-out 0.5s;
}
.pp__tools a i {
  font-size: 1.3rem;
}
.pp__tools a span {
  font-size: 0.9rem;
}
@media (max-width: 1140px) {
  .pp__tools {
    width: 90%;
  }
}
@media (max-width: 720px) {
  .pp__tools {
    width: auto;
  }
}
.pp__exit {
  display: flex;
  justify-content: center;
  width: 5%;
  transition: ease-in-out 0.5s;
}
.pp__exit a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15px;
  padding: 0 15px;
  text-decoration: none;
  color: white;
  font-family: Montserrat-Regular;
  transition: ease-in-out 0.5s;
}
.pp__exit a:hover {
  background-color: #03008a;
  border-radius: 7px;
  transition: ease-in-out 0.5s;
}
.pp__exit a i {
  font-size: 1.3rem;
}
.pp__exit a span {
  font-size: 0.9rem;
}
@media (max-width: 1140px) {
  .pp__exit {
    transition: ease-in-out 0.5s;
  }
}
@media (max-width: 720px) {
  .pp__exit {
    width: 70px;
    transition: ease-in-out 0.5s;
  }
}

.showblock {
  display: flex;
}

.hidedatas {
  display: none;
}

.ymaps-2-1-79-controls__control:nth-child(1) {
  position: relative !important;
  left: 5px !important;
  width: 130px;
}

.ymaps-2-1-79-copyright__content {
  display: none !important;
}

.ymaps-2-1-79-map-copyrights-promo {
  display: none;
}

.ymaps-2-1-79-copyright__content {
  display: none;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.login__formlog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  height: 700px;
}
.login__formblock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__formblock h3 {
  font-size: 1.3rem;
  text-align: center;
  font-family: Montserrat-Regular;
}
.login__formblock input {
  border: 1px solid gray;
  width: 400px;
  height: 40px;
  margin: 10px;
  border-radius: 5px;
  font-family: Montserrat-Regular;
  padding-left: 10px;
  font-size: 1.1rem;
  transition: ease-in-out 0.5s;
}
.login__formblock button {
  width: 250px;
  height: 50px;
  margin-top: 40px;
  background-color: #00ad1e;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 1.1rem;
  font-weight: bolder;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}
@media (max-width: 720px) {
  .login__formblock h3 {
    transition: ease-in-out 0.5s;
  }
  .login__formblock input {
    width: 350px;
    height: 40px;
    font-size: 1rem;
    transition: ease-in-out 0.5s;
  }
  .login__formblock button {
    width: 360px;
    transition: ease-in-out 0.5s;
  }
}
@media (max-width: 480px) {
  .login__formblock h3 {
    transition: ease-in-out 0.5s;
  }
  .login__formblock input {
    width: 280px;
    height: 45px;
    transition: ease-in-out 0.5s;
  }
  .login__formblock button {
    width: 290px;
    transition: ease-in-out 0.5s;
    font-size: 1rem;
  }
}

.freinds {
  display: flex;
}
.freinds__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.freinds__header {
  display: flex;
  height: 50px;
  width: 100%;
}
.freinds__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.freinds__searchblock {
  display: flex;
  justify-content: center;
  height: 70px;
}
.freinds__searchblock form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
}
.freinds__searchblock form input {
  width: 100%;
  height: 40px;
  font-size: 1.1rem;
  font-family: Montserrat-Regular;
}
.freinds__searchblock form button {
  width: 150px;
  height: 40px;
  background-color: #03008a;
  color: white;
  font-weight: bolder;
  font-family: Montserrat-Regular;
  border: none;
  cursor: pointer;
}
.freinds__contentwrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
  width: 65%;
  height: 100%;
  margin-top: 20px;
  transition: ease-in-out 0.5s;
}
@media (max-width: 960px) {
  .freinds__contentwrapper {
    width: 80%;
    transition: ease-in-out 0.5s;
  }
}
.freinds__currentfreind {
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 250px;
  margin: 20px;
}
.freinds__pictureblock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
}
.freinds__pictureblock img {
  height: 100%;
  width: 100%;
}
.freinds__infoblock {
  display: flex;
  justify-content: center;
}
.freinds__infoblock span {
  width: 100%;
  text-align: center;
  font-family: Montserrat-Regular;
  font-size: 0.9rem;
  margin: 5px 0;
}
.freinds__writemessageto {
  display: flex;
  justify-content: center;
}
.freinds__writemessageto a {
  text-decoration: none;
  color: #03008a;
  font-size: 0.8rem;
  font-family: Montserrat-Regular;
  font-weight: bolder;
}
.freinds__actionblock {
  display: flex;
  width: 100%;
}
.freinds__actionblock form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.freinds__actionblock form button {
  border: none;
  width: 200px;
  height: 40px;
  margin-top: 10px;
  background-color: #03008a;
  font-family: Montserrat-Regular;
  color: white;
  cursor: pointer;
}

.searchp {
  display: flex;
  height: 100vh;
  width: 100vw;
}
.searchp__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.searchp__header {
  display: flex;
  height: 50px;
  width: 100%;
}
.searchp__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.searchp__contentwrp {
  border: 1px solid red;
  display: flex;
  width: 60%;
  height: 100%;
  margin: 30px 0;
}
.searchp__blockresult {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}
.searchp__searchblock {
  display: flex;
  justify-content: center;
  height: 70px;
  width: 100%;
}
.searchp__searchblock form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
}
.searchp__searchblock form input {
  width: 100%;
  height: 40px;
  font-size: 1.1rem;
}
.searchp__searchblock form button {
  width: 150px;
  height: 40px;
  background-color: #03008a;
  color: white;
  font-weight: bolder;
  border: none;
  cursor: pointer;
}
.searchp__resultblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.searchp__currentfreind {
  border: 1px solid lightgrey;
  display: flex;
  width: 90%;
  height: 150px;
  margin: 10px 0;
}
.searchp__pictureblock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
}
.searchp__pictureblock img {
  height: 150px;
  width: 150px;
}
.searchp__infoblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}
.searchp__infoblock span {
  padding-left: 30px;
  margin: 5px 0;
  font-family: Montserrat-Regular;
}
.searchp__infoblock a {
  text-align: center;
  margin: 20px 0 0 20px;
  width: 200px;
  text-decoration: none;
  font-family: Montserrat-Regular;
}
.searchp__actionblock {
  display: flex;
  width: 150px;
}
.searchp__actionblock form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.searchp__actionblock form button {
  border: none;
  width: 200px;
  height: 40px;
  margin-right: 50px;
  background-color: #03008a;
  font-family: Montserrat-Regular;
  color: white;
  cursor: pointer;
}
.searchp__blockfilter {
  border: 1px solid lightgray;
  display: flex;
  width: 30%;
  height: 100%;
}
.searchp__filter {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.searchp__filter a {
  text-decoration: none;
  color: black;
  padding: 10px 0 10px 15px;
  font-family: Montserrat-Regular;
}
.searchp__filter a:hover {
  background-color: #f1f1f1;
}

.messages {
  display: flex;
}
.messages__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.messages__header {
  display: flex;
  height: 50px;
  width: 100%;
}
.messages__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.messages__contentwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  height: 100%;
  margin-top: 20px;
}
.messages__currentfreind {
  border: 1px solid lightgrey;
  display: flex;
  width: 600px;
  height: 100px;
  margin: 2px 0;
  transition: ease-in-out 0.5s;
}
@media (max-width: 1140px) {
  .messages__currentfreind {
    width: 500px;
    transition: ease-in-out 0.5s;
  }
}
@media (max-width: 960px) {
  .messages__currentfreind {
    width: 400px;
    transition: ease-in-out 0.5s;
  }
}
@media (max-width: 540px) {
  .messages__currentfreind {
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 235px;
    transition: ease-in-out 0.5s;
    margin: 5px 0;
  }
}
@media (max-width: 480px) {
  .messages__currentfreind {
    width: 130px;
    height: 215px;
  }
}
.messages__pictureblock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  transition: ease-in-out 0.5s;
}
.messages__pictureblock img {
  height: 100px;
  width: 100px;
  transition: ease-in-out 0.5s;
}
@media (max-width: 540px) {
  .messages__pictureblock {
    width: 150px;
    height: 150px;
  }
  .messages__pictureblock img {
    height: 100%;
    width: 100%;
    transition: ease-in-out 0.5s;
  }
}
@media (max-width: 480px) {
  .messages__pictureblock {
    width: 130px;
    height: 130px;
    transition: ease-in-out 0.5s;
  }
  .messages__pictureblock img {
    height: 100%;
    width: 100%;
    transition: ease-in-out 0.5s;
  }
}
.messages__infoblock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}
.messages__infoblock span {
  padding-left: 10px;
  margin: 5px 0;
  font-family: Montserrat-Regular;
  transition: ease-in-out 0.5s;
}
@media (max-width: 960px) {
  .messages__infoblock span {
    font-size: 0.9rem;
    padding: 0 3px;
    transition: ease-in-out 0.5s;
  }
}
@media (max-width: 540px) {
  .messages__infoblock {
    width: 100%;
  }
}
.messages__actionblock {
  border-left: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}
.messages__actionblock a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  text-decoration: none;
  color: black;
}
.messages__actionblock a i {
  font-size: 1.8rem;
  color: #03008a;
  transition: ease-in-out 0.5s;
}
.messages__actionblock a span {
  font-size: 0.9rem;
  font-family: Montserrat-Regular;
  transition: ease-in-out 0.5s;
}
@media (max-width: 960px) {
  .messages__actionblock a i {
    font-size: 1.4rem;
    color: #03008a;
    transition: ease-in-out 0.5s;
  }
  .messages__actionblock a span {
    font-size: 0.7rem;
    transition: ease-in-out 0.5s;
  }
}
@media (max-width: 480px) {
  .messages__actionblock a i {
    font-size: 1rem;
  }
}
@media (max-width: 540px) {
  .messages__actionblock {
    border-top: 1px solid lightgrey;
    border-left: none;
    width: 100%;
  }
  .messages__actionblock a {
    height: 50px;
  }
}
.messages__notmsg {
  display: flex;
}
.messages__notmsg span {
  font-family: Montserrat-Regular;
  font-size: 1.1rem;
}

.msgto {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.msgto__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.msgto__header {
  display: flex;
  height: 50px;
  width: 100%;
}
.msgto__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.msgto__contentwrapper {
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
  height: 100%;
}
.msgto__blockmsgs {
  display: inline-block;
  flex-direction: column;
  justify-content: flex-end;
  height: 700px;
  flex-grow: 1;
  overflow-y: scroll;
  /* прокрутка по вертикали */
}
.msgto__blockmsgs span {
  display: flex;
  justify-content: center;
  font-family: Montserrat-Regular;
  font-size: 1.1rem;
  width: 350px;
  padding: 7px 0 7px 13px;
  margin: 5px 0;
  border-radius: 15px;
  transition: ease-in-out 0.5s;
}
@media (max-width: 1140px) {
  .msgto__blockmsgs span {
    width: 250px;
    font-size: 0.9rem;
    transition: ease-in-out 0.5s;
  }
}
@media (max-width: 720px) {
  .msgto__blockmsgs span {
    width: 200px;
    font-size: 0.8rem;
    transition: ease-in-out 0.5s;
  }
}
@media (max-width: 480px) {
  .msgto__blockmsgs span {
    width: 150px;
    font-size: 0.7rem;
    transition: ease-in-out 0.5s;
  }
}
.msgto__blocksend {
  border-top: 1px solid lightgray;
  display: flex;
  height: 50px;
  margin-top: 10px;
  transition: ease-in-out 0.5s;
}
.msgto__blocksend form {
  display: flex;
  width: 100%;
  height: 100%;
}
.msgto__blocksend form input {
  border: none;
  width: 100%;
  font-family: Montserrat-Regular;
  font-size: 1.1rem;
  padding-left: 10px;
}
.msgto__blocksend form button {
  border: none;
  width: 150px;
  background-color: #030053;
  color: white;
  cursor: pointer;
  font-family: Montserrat-Regular;
  transition: ease-in-out 0.5s;
}
@media (max-width: 720px) {
  .msgto__blocksend {
    height: 40px;
    transition: ease-in-out 0.5s;
  }
  .msgto__blocksend button {
    font-size: 0.7rem;
    transition: ease-in-out 0.5s;
  }
}
@media (max-width: 540px) {
  .msgto__blocksend {
    height: 35px;
    transition: ease-in-out 0.5s;
  }
  .msgto__blocksend button {
    font-size: 0.6rem;
    transition: ease-in-out 0.5s;
  }
}

.settings {
  display: flex;
  height: 100vh;
  width: 100vw;
}
.settings__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.settings__header {
  display: flex;
  height: 50px;
  width: 100%;
}
.settings__content {
  display: flex;
  justify-content: center;
  height: 100%;
}
.settings__contentwrp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  margin: 20px 0;
}
.settings__cardofuser {
  border: 1px solid lightgray;
  display: flex;
  width: 80%;
}
.settings__leftcard {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.settings__lftavatar {
  display: flex;
  justify-content: center;
  height: 200px;
}
.settings__lftavatar img {
  width: 200px;
  height: 200px;
}
.settings__lftsurname {
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}
.settings__lftsurname span {
  font-size: 1.2rem;
  font-family: Montserrat-Regular;
  text-align: center;
}
.settings__lftname {
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}
.settings__lftname span {
  font-size: 1.2rem;
  font-family: Montserrat-Regular;
  text-align: center;
}
.settings__lftpatronymic {
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}
.settings__lftpatronymic span {
  font-size: 1.2rem;
  font-family: Montserrat-Regular;
  text-align: center;
}
.settings__lftemail {
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}
.settings__lftemail span {
  font-size: 1.2rem;
  font-family: Montserrat-Regular;
  text-align: center;
}
.settings__lftphone {
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}
.settings__lftphone span {
  font-size: 1.2rem;
  font-family: Montserrat-Regular;
  text-align: center;
}
.settings__lftdateofreg {
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}
.settings__lftdateofreg span {
  font-size: 1.2rem;
  font-family: Montserrat-Regular;
  text-align: center;
}
.settings__rightcard {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.settings__rghtavatar {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 100%;
}
.settings__rghtform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.settings__rghtform input {
  border: 1px solid lightgray;
  font-family: Montserrat-Regular;
  padding: 15px;
  border-radius: 5px;
  cursor: copy;
}
.settings__rghtform button {
  border: none;
  margin-top: 25px;
  width: 170px;
  height: 40px;
  font-family: Montserrat-Regular;
  font-size: 1rem;
  background-color: #03008a;
  color: white;
  cursor: pointer;
}
.settings__rghtsurname {
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}
.settings__rghtsurname a {
  font-size: 1.2rem;
  font-family: Montserrat-Regular;
  text-decoration: none;
  color: gray;
}
.settings__rghtname {
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}
.settings__rghtname a {
  font-size: 1.2rem;
  font-family: Montserrat-Regular;
  text-decoration: none;
  color: gray;
}
.settings__rghtpatronymic {
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}
.settings__rghtpatronymic a {
  font-size: 1.2rem;
  font-family: Montserrat-Regular;
  text-decoration: none;
  color: gray;
}
.settings__rghtemail {
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}
.settings__rghtemail a {
  font-size: 1.2rem;
  font-family: Montserrat-Regular;
  text-decoration: none;
  color: gray;
}
.settings__rghtphone {
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}
.settings__rghtphone a {
  font-size: 1.2rem;
  font-family: Montserrat-Regular;
  text-decoration: none;
  color: gray;
}
.settings__rghtdateofreg {
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}
.settings__rghtdateofreg a {
  font-size: 1.2rem;
  font-family: Montserrat-Regular;
  text-decoration: none;
  color: gray;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.homepage__headerhp {
  display: flex;
  justify-content: center;
  height: 70px;
}
@media (max-width: 720px) {
  .homepage__headerhp {
    height: 100px;
  }
}
.homepage__headerwrp {
  display: flex;
  width: 60%;
}
@media (max-width: 720px) {
  .homepage__headerwrp {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
  }
}
.homepage__headerlogo {
  display: flex;
  align-items: center;
  width: 50%;
}
.homepage__headerlogo a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bolder;
  color: black;
  font-family: Montserrat-Regular;
  transition: ease-in-out 0.5s;
}
@media (max-width: 1400px) {
  .homepage__headerlogo a {
    font-size: 1.5rem;
    transition: ease-in-out 0.5s;
  }
}
@media (max-width: 720px) {
  .homepage__headerlogo {
    justify-content: center;
  }
  .homepage__headerlogo a {
    font-size: 1.7rem;
  }
}
.homepage__headernavigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  transition: ease-in-out 0.5s;
}
.homepage__headernavigation a {
  text-decoration: none;
  margin: 0 20px;
  font-size: 1.2rem;
  font-weight: bolder;
  color: black;
  font-family: Montserrat-Regular;
  transition: ease-in-out 0.5s;
}
@media (max-width: 1140px) {
  .homepage__headernavigation a {
    font-size: 1rem;
    transition: ease-in-out 0.5s;
  }
}
@media (max-width: 720px) {
  .homepage__headernavigation {
    width: 80%;
    justify-content: space-around;
    margin-top: 15px;
  }
  .homepage__headernavigation a {
    font-size: 1.3rem;
  }
}
@media (max-width: 540px) {
  .homepage__headernavigation {
    width: 90%;
    margin-top: 15px;
    transition: ease-in-out 0.5s;
  }
}
.homepage__contenthp {
  display: flex;
  justify-content: center;
  height: 85%;
}
.homepage__contenthpwrp {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 60%;
  transition: ease-in-out 0.5s;
}
.homepage__contenthpwrp img {
  width: 100%;
}
@media (max-width: 960px) {
  .homepage__contenthpwrp {
    width: 70%;
    transition: ease-in-out 0.5s;
  }
}
@media (max-width: 720px) {
  .homepage__contenthpwrp {
    width: 85%;
    transition: ease-in-out 0.5s;
  }
}
@media (max-width: 720px) {
  .homepage__contenthpwrp {
    width: 100%;
    transition: ease-in-out 0.5s;
  }
}
.homepage__footerhp {
  display: flex;
  justify-content: center;
  height: 5%;
}
.homepage__footerwrp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.homepage__footerwrp a {
  text-decoration: none;
  color: black;
  font-family: Montserrat-Regular;
  transition: ease-in-out 0.5s;
}
@media (max-width: 960px) {
  .homepage__footerwrp a {
    font-size: 0.8rem;
    transition: ease-in-out 0.5s;
  }
}
